body {
  font-family: "Lucida Console", Courier, monospace;
  max-width: 70%;
  margin: 0 auto;
  background-color: #ffffff;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  border-color: blue;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f1f1f1;
  cursor: pointer;
  transition: border-color 0.25s;
}